# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
.env

# Logs
logs/
*.log

# Project specific
monoprompting_exp_v2.2/

# IDE specific
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/

#solana
solana/wallet-storage/mother-wallet.json
solana/wallet-storage/child-wallets.json
solana/node_modules/
solana/wallet-storage/


# Prompts
monoprompting/